{% extends 'base.html' %}

{% block title %}Employee Details{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <ul class="list-group">
            <li class="list-group-item">Email: <b>{{ employees.email }}</b></li>
            <li class="list-group-item">First name: <b>{{ employees.first_name }}</b></li>
            <li class="list-group-item">Last name: <b>{{ employees.last_name }}</b></li>
            <li class="list-group-item">Birth date: <b>{{ employees.birth_date }}</b></li>
            <li class="list-group-item">On the project from: <b>{{ employees.date_joined }}</b></li>
        </ul>
        {% if request.user.is_superuser %}
        <a href="/employees/update/{{ employees.id }}" class="btn btn-primary mt-2">Update</a>
        <a href="/employees/delete/{{ employees.id }}" class="btn btn-danger mt-2">Delete</a>
        {% endif %}
    <br>
        <a href="{% url 'employee_list' %}" class="btn btn-primary mt-2">< Back</a>
    </div>
{% endblock %}
